@font-face {
    font-family: 'Marzo';
    src: url(FontsFree-Net-marzo.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-padding-top: 40px;
}

html {
    scroll-behavior: smooth;
}
  
body {
    display: flex;
    flex-direction: column;
    background-color: #003B6F;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.nav-bar {
    position: fixed;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 40px;
    height: auto;
    margin: 8px 0 8px 16px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    gap: 43px;
    margin-right: 40px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    right: -40px;
    background-color: #FFFFFF;
    height: 100vh;
    width: 80%;
    clip-path: inset(0% 0% 0% 100%);
    -webkit-clip-path: inset(0% 0% 0% 100%);
    transition: all 1s ease-out;
    z-index: 3;
}

.close {
    margin: 2px 46px 0 0;
    cursor: pointer;
}

.nav-icons {
    height: auto;
    width: 30px;
}

.nav-links a {
    color: #003B6F;
    display: flex;
    align-self: center;
    gap: 43px;
}

.nav-links.open {
    /* how far the mobile nav extends */
    clip-path: inset(0% 0% 0% 0%);
    -webkit-clip-path: inset(0% 0% 0% 0%);
    background-color: #FFFFFF;
}

.nav-links a:hover,
.close:hover {
    color: #A33E94;
}

.hamB {
    position: fixed;
    cursor: pointer;
    right: 1px;
    top: 15px;
    z-index: 4;
    margin-right: 16px;
}

.line {
    width: 30px;
    height: 3px;
    background: #003B6F;;
    margin: 5px;
    /* speed/effect of hamB to x */
    transition: transform 150ms ease-in-out, opacity 200ms linear;
}

/* rotates one line into part of the X */
.open .mid-line {
    transform: rotate(45deg);
}
  
/* makes one line dissapear */
.open .top-line {
    opacity: 0;
}
  
/* rotates another line into part of the X */
.open .bot-line {
    transform: rotate(135deg) translate(-6px, 5px);
}


.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.open .overlay {
    display: initial;
}

.land-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFFFF;
    gap: 28px;
}

.land-container h1 {
    font-family: 'Marzo', sans-serif;
    font-size: 36px;
    margin: 160px 0 4px 16px;
    letter-spacing: 0.1em;
    line-height: 89.98%;
}

.land-container h3 {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 27px;
    margin: 0 0 0 16px;
}

.lor-outline {
    width: 278px;
    height: auto;
    align-self: flex-end;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    gap: 40px;
    padding-top: 80px;
}

.project-container-dt {
    display: none
}

.project-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #003B6F;
    width: 296px;
    height: 370px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding-top: 16px;
}

.project-img img {
    width: 264px;
    height: 238px;
    object-fit: cover;
}

.project-img p {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 33px;
    line-height: 102.48%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin: 5px 30px 0 30px;
}

.proj-3 p {
    margin-top: 20px;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF; 
    
}

.about-info {
    display: grid;
    grid-template-areas: 'h2 h2'
                        'p1 img'
                         'p2 p2'
                         'buttons buttons';
    width: 352px; 
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    text-align: left;
    color: #003B6F;
    margin-left: 8px;
}

.hello {
    grid-area: h2;
    align-self: flex-start;
    font-family: 'Marzo', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bolder;
    line-height: 89.98%;
    letter-spacing: 0.1em;
    text-align: left;
    margin-top: 84px;
}

.p1 {
    grid-area: p1;
    align-self: flex-end;
    padding-bottom: 16px;
}

.p2 {
    grid-area: p2;
    margin-right: 8px;
}

.about-info img {
    grid-area: img;
    border-radius: 5px 0px 0px 5px;
    margin-bottom: 16px;
}

.desk-pic {
    display: none;
}

.resume-container {
    grid-area: buttons;
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height: 27px;
    gap: 16px;
    margin: 32px 0 80px 0;
}

.resume-work {
    width: 100px;
    height: 42px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.resume {
    grid-area: resume;
    background: #003B6F;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

.work {
    grid-area: work;
    background: #FFFFFF;
    color: #003B6F;
    border: 1px solid #003B6F;
}

.email-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 10px;
    font-size: 18px;
    color: white;
    padding: 10px 10px 20px 10px;
}

.email-container h2 {
    font-family: 'Marzo', sans-serif;
    margin: 96px 0 32px 16px;
}

.email-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    gap: 12px;
    font-family: 'Oswald', sans-serif;
}

.email-form label {
    align-self: flex-start;
    margin-left: 18px;
}

.email-form input {
    width: 90%;
    border-radius: 5px;
    border-style: none;
    padding: 15px;
    font-size: 15px;
}

.nameEmail {
    height: 32px;
}

.message-box {
    height: 96px;
    width: 90%;
    border-radius: 5px;
    padding: 15px;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}

.email-form button {
    border-radius: 10px;
    background-color: white;
    width: 100px;
    height: 42px;
    align-self: center;
    border-style: none;
    margin: 32px 0 74px 0;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #003B6F;
    background: #FFFFFF;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    background-color: #FFFFFF;
    color: #003B6F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 16px;
}

.foot-img-container {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 11px;
}

.foot-img {
    width: 20px;
    height: auto;
}

@media (min-width: 500px) {
    .hamB,
    .close,
    .nav-icons {
        display: none;
    }

    .overlay {
        height: 0;
        width: 0;
    }

    .nav-bar {
        position: fixed;
        height: 80px;
    }

    .nav-links {
        flex-direction: row;
        align-self: center;
        justify-self: center;
        padding: 25px 40px 0 0;
        position: fixed;
        height: initial;
        width: initial;
        clip-path: none;
        -webkit-clip-path: none;
        transition: none;
        gap: 16px;
        text-transform: initial;
    }

    .nav-links li{
        padding: 0;
    }

    .logo {
        width: 65px;
        height: 63px;
        margin: 30px 0 25px 40px;
    }
}

@media (min-width: 800px) {
    .land-container {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    .land-container h1 {
        margin: 200px 0 10px 59px;
        font-style: normal;
        font-weight: bolder;
        font-size: 48px;
        line-height: 51px;
    }

    .land-container h3 {
        font-size: 18px;
        margin-left: 59px;
        font-family: 'Marzo', sans-serif;
        font-weight: normal;
        font-size: 26px;
        line-height: 26px;
    }

    .lor-outline {
        width: 515px;
        margin-top: 280px;
    }

    .project-img {
        width: 496px;
        height: 570px;
    }
    
    .project-img img {
        width: 464px;
        height: 438px;
    }

    .project-img p {
        margin: 35px 30px 0 30px;
    }
    
    .proj-2 p {
        margin-top: 21px;
    }

    .proj-3 p {
        margin-top: 35px;
    }
    
    .about-info {
        grid-template-areas: 'h2 h2'
                            'p1 img'
                             'p2 img'
                             'buttons buttons';
        width: 750px; 
        font-size: 20px;
    }    
    
    .hello {
        font-size: 26px;
    }

    .about-info img {
        margin-left: 20px;
    }
    
    .resume-container {
        gap: 30px;
        
    } 
    
    .email-form input {
        width: 650px;
    }
    
    .nameEmail {
        height: 40px;
    }
    
    .message-box {
        height: 196px;
        width: 650px;
    }
    
    .email-form button {
        border-radius: 10px;
        background-color: white;
        width: 100px;
        height: 42px;
        align-self: center;
        border-style: none;
        margin: 32px 0 74px 0;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        color: #003B6F;
        background: #FFFFFF;
        cursor: pointer;
    }
}

@media (min-width: 1440px) {
    .land-container h1 {
        margin: 332px 0 28px 59px;
        font-size: 68px;
    }
    
    .land-container h3 {
        font-size: 36px;
    }

    .project-container {
        display: none;
    }

    .project-container-dt {
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        padding: 193px 0 80px 0;
        gap: 100px;
    }
    
    .project-img-dt {
        display: flex;
        align-items: center;
    }

    .pdt-1 p{
        margin: 0 116px 0 140px; 
    }

    .pdt-2 p{
        margin: 0 101px 0 78px;
    }

    .pdt-3 p{
        margin: 0 151px 0 175px;
    }

    .top-bot-img {
        padding-left: 80px;
    }

    .mid-img {
        padding-right: 80px;
    }

    .read-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 146px;
        height: 42px;
        background: #003B6F;
        border-radius: 5px;
        font-family: 'Oswald', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 54px;
    }

    .project-dt-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Marzo', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 49px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #003B6F;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FFFFFF;
        padding-bottom: 128px;
    }
    
    .about-info {
        grid-template-areas: 'h2 h2'
                             'p1 img'
                             'p2 img'
                             'buttons img';
        width: initial; 
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
    }

    .hello {
        grid-area: h2;
        justify-self: flex-start;
        font-family: 'Marzo', sans-serif;
        font-style: normal;
        font-weight: bolder;
        font-size: 64px;
        line-height: 36px;
        letter-spacing: 0.05em;
        margin: 214px 0 0  78px;
    }
    
    .p1 {
        align-self: initial;
        padding: 137px 0 0 78px;
    }
    
    .p2 {
        margin-right: 0;
        width: 574px;
        padding: 40px 0 0 78px;
    }

    .mobile-pic {
        display: none;
    }
    
    .desk-pic {
        display: initial;
        width: 717px;
        height: 595px;
        margin-left: 40px;
    }

    .resume-container {
        justify-self: center;
        gap: 20px;
    }

    .resume-work {
        width: 146px;
        height: 42px; 
    }
 
    .email-container {
        align-self: initial;
        padding: 0 0 192px 0;
    }
    
    .email-container h2 {
        text-transform: lowercase;
        font-style: normal;
        font-weight: bolder;
        font-size: 64px;
        line-height: 74px;
        padding-left: 80px;
    }
    
    .email-form {
        align-self: flex-end;
        padding: 68px 140px 0 0;
    }
    
    .email-form input {
        width: 660px;
    }
    
    .nameEmail {
        height: 48px;
    }
    
    .message-box {
        height: 96px;
        width: 660px;
    }
    
    .email-form button {
        width: 146px;
    }

    footer {
        font-size: 16px;
    }
    
    .foot-img-container {
        gap: 24px;
        margin-right: 20px;
    }
}